<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App | {{ title }}</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png" />
</head>
<body>
    <header>
        <nav>
            <a href="/" class="{% if current_page == NavItem::Home %}nav-active{% endif %}">
                Home
            </a>

            <a href="/create" class="{% if current_page == NavItem::Create %}nav-active{% endif %}">
                Create
            </a>

            <a href="/todos" class="{% if current_page == NavItem::Todos %}nav-active{% endif %}">
                Todos
            </a>

            <a href="/signup" class="{% if current_page == NavItem::Signup %}nav-active{% endif %}">
                Sign up
            </a>

            <a href="/login" class="{% if current_page == NavItem::Login %}nav-active{% endif %}">
                Log in
            </a>
        </nav>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>